# credentials 
.env
*.key
adzuna.json
.databrickscfg

# python
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/


raw/
data/raw/
*.parquet

# os
.DS_Store

# gradle
backend/.gradle/
backend/build/
